<nav id="mainNav" class="nav navbar-default" role="navigation">
  <div class="col-lg-4">
    <li>Home</li>
  </div>
    <div class="col-xs-2">
        <li>Post a Listing</li>
    </div>
    <div class="col-xs-6">
      <li>About</li>
    </div>
</nav>
