<nav id="mainNav" class="nav navbar-default" role="navigation">
  <div class="col-lg-4">
    <li>Home</li>
  </div>
    <div class="col-xs-2">
        <li>Post a Listing</li>
    </div>
    <div class="col-xs-3">
      <li>About</li>
    </div>
    <% if house_signed_in? %>
  <li><%= link_to 'Logout', destroy_house_session_path, :method => :delete %></li>
  <li><%=current_house.id%></li>
  <% else %>
      <li><%= link_to 'Sign in', new_house_session_path %></li>
      <li><%= link_to "Sign up now!",  new_house_registration_path%></li>
    <% end %>
</nav>
